Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1
python-dotenv==1.0.1
psycopg
djangorestframework-simplejwt==5.3.1
Pillow
python-dateutil==2.9.0.post0
django-filter==24.2
drf-yasg==1.21.7
whitenoise==6.6.0
gunicorn==21.2.0
torch
torchvision
torchaudio
fastapi
uvicorn[standard]
transformers
accelerate
sentencepiece

